@use '../base/vars' as *;
@use '../base/mixins' as *;

.machine {
    margin-top: 14em;
    

    .machine-wrapper {
        @include flex(flex, space-between, center);
        column-gap: 16rem;
        background-color: $color-1c1814;
        padding: 7rem 9rem;
    }

    .machine-title {
        @include font(4.8rem, 400);
        font-family: $font-righteous;
        color: $color-fff;
    }

    .machine-text {
        @include font(1.6rem, 500);
        color: $color-fff;
        font-family: $font-urbanist;
        line-height: 1.8;
        margin-block: 3.6rem;
    }
}