$color-1c1814: #1c1814;
$color-c99e71: #c99e71;
$color-14110e: #14110e;
$color-32323d: #32323d;
$color-fff: #fff;

$font-urbanist: "Urbanist", sans-serif;
$font-righteous: "Righteous", sans-serif;
$font-inter: "Inter", sans-serif;


$container-width: 117rem;
